#file_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #100071;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

#file_home > div {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
}

#title {
}

#bottom {
  height: 770px;
}
