:root {
  /* TYPE */
  --display-large-heavy-family: "Poppins";
  --display-large-heavy-size: 69px;
  --display-large-heavy-size-rem: 4.3125rem;
  --display-large-heavy-weight: 700;
  --display-large-heavy-style: normal;
  --display-large-heavy-line-height: 76px;
  --display-large-heavy-line-height-rem: 4.75rem;
  --display-large-regular-family: "Poppins";
  --display-large-regular-size: 69px;
  --display-large-regular-size-rem: 4.3125rem;
  --display-large-regular-weight: 400;
  --display-large-regular-style: normal;
  --display-large-regular-line-height: 76px;
  --display-large-regular-line-height-rem: 4.75rem;
  --display-large-extralight-family: "Poppins";
  --display-large-extralight-size: 69px;
  --display-large-extralight-size-rem: 4.3125rem;
  --display-large-extralight-weight: 200;
  --display-large-extralight-style: normal;
  --display-large-extralight-line-height: 76px;
  --display-large-extralight-line-height-rem: 4.75rem;
  --display-small-heavy-family: "Poppins";
  --display-small-heavy-size: 57px;
  --display-small-heavy-size-rem: 3.5625rem;
  --display-small-heavy-weight: 700;
  --display-small-heavy-style: normal;
  --display-small-heavy-line-height: 64px;
  --display-small-heavy-line-height-rem: 4rem;
  --display-small-regular-family: "Poppins";
  --display-small-regular-size: 57px;
  --display-small-regular-size-rem: 3.5625rem;
  --display-small-regular-weight: 400;
  --display-small-regular-style: normal;
  --display-small-regular-line-height: 64px;
  --display-small-regular-line-height-rem: 4rem;
  --display-small-extralight-family: "Poppins";
  --display-small-extralight-size: 57px;
  --display-small-extralight-size-rem: 3.5625rem;
  --display-small-extralight-weight: 200;
  --display-small-extralight-style: normal;
  --display-small-extralight-line-height: 64px;
  --display-small-extralight-line-height-rem: 4rem;
  --h1-heavy-family: "Poppins";
  --h1-heavy-size: 48px;
  --h1-heavy-size-rem: 3rem;
  --h1-heavy-weight: 700;
  --h1-heavy-style: normal;
  --h1-heavy-line-height: 64px;
  --h1-heavy-line-height-rem: 4rem;
  --h1-regular-family: "Poppins";
  --h1-regular-size: 48px;
  --h1-regular-size-rem: 3rem;
  --h1-regular-weight: 400;
  --h1-regular-style: normal;
  --h1-regular-line-height: 64px;
  --h1-regular-line-height-rem: 4rem;
  --h1-extralight-family: "Poppins";
  --h1-extralight-size: 48px;
  --h1-extralight-size-rem: 3rem;
  --h1-extralight-weight: 200;
  --h1-extralight-style: normal;
  --h1-extralight-line-height: 64px;
  --h1-extralight-line-height-rem: 4rem;
  --h2-heavy-family: "Poppins";
  --h2-heavy-size: 32px;
  --h2-heavy-size-rem: 2rem;
  --h2-heavy-weight: 600;
  --h2-heavy-style: normal;
  --h2-heavy-line-height: 64px;
  --h2-heavy-line-height-rem: 4rem;
  --h2-regular-family: "Poppins";
  --h2-regular-size: 32px;
  --h2-regular-size-rem: 2rem;
  --h2-regular-weight: 400;
  --h2-regular-style: normal;
  --h2-regular-line-height: 64px;
  --h2-regular-line-height-rem: 4rem;
  --h2-extralight-family: "Poppins";
  --h2-extralight-size: 32px;
  --h2-extralight-size-rem: 2rem;
  --h2-extralight-weight: 200;
  --h2-extralight-style: normal;
  --h2-extralight-line-height: 64px;
  --h2-extralight-line-height-rem: 4rem;
  --h3-heavy-family: "Poppins";
  --h3-heavy-size: 24px;
  --h3-heavy-size-rem: 1.5rem;
  --h3-heavy-weight: 700;
  --h3-heavy-style: normal;
  --h3-heavy-line-height: 42px;
  --h3-heavy-line-height-rem: 2.625rem;
  --h3-regular-family: "Poppins";
  --h3-regular-size: 24px;
  --h3-regular-size-rem: 1.5rem;
  --h3-regular-weight: 400;
  --h3-regular-style: normal;
  --h3-regular-line-height: 42px;
  --h3-regular-line-height-rem: 2.625rem;
  --h3-extralight-family: "Poppins";
  --h3-extralight-size: 24px;
  --h3-extralight-size-rem: 1.5rem;
  --h3-extralight-weight: 200;
  --h3-extralight-style: normal;
  --h3-extralight-line-height: 42px;
  --h3-extralight-line-height-rem: 2.625rem;
  --h5-regular-family: "Poppins";
  --h5-regular-size: 12px;
  --h5-regular-size-rem: 0.75rem;
  --h5-regular-weight: 400;
  --h5-regular-style: normal;
  --h5-regular-line-height: 14px;
  --h5-regular-line-height-rem: 0.875rem;
  --h5-extralight-family: "Poppins";
  --h5-extralight-size: 12px;
  --h5-extralight-size-rem: 0.75rem;
  --h5-extralight-weight: 200;
  --h5-extralight-style: normal;
  --h5-extralight-line-height: 14px;
  --h5-extralight-line-height-rem: 0.875rem;

  /* COLORS */
  --purple-main600: #c3b3f1;
  --purple-500: #d2c6f4;
  --purple-400: #dad0f6;
  --purple-300: #e1d9f8;
  --purple-200: #e9e3fa;
  --purple-100: #f2f2fc;
  --purple-700: #734ede;
  --purple-800: #5025cb;
  --purple-1000: #231059;
  --purple-900: #3c1c98;
  --text-main300: #1800a9;
  --text-500: #100071;
  --text-400: #14008d;
  --text-200: #2000e1;
  --text-100: #4829ff;
  --green-100: #f1f9dc;
  --green-200: #e9f5c8;
  --green-400: #bee15a;
  --green-500: #8cb121;
  --green-background: #fffdf6;
  --green-main300: #e1f1b3;
  --yellow-50: #fafcf1;
  --yellow-main300: #f4f082;
  --yellow-100: #fcfbe2;
  --yellow-200: #f7f4a4;
  --yellow-400: #d7d013;
  --yellow-500: #817d0b;
  --red-main300: #f1b3b3;
  --red-50: #fdf5f5;
  --red-100: #fcecec;
  --red-200: #f8d9d9;
  --red-400: #e15a5a;
  --red-500: #b12121;

  /* GRIDS */
  --desktop-grid-columns: 8;
  --desktop-grid-gutter: 16px;
  --desktop-grid-gutter-rem: 1rem;
}
